<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Image Compressor</title>
    {% load staticfiles %}
    <meta name="description" content="A good image compressor is like a magician who can shrink the size of an image without compromising its visual enchantment, casting a spell of efficiency and elegance">
    <link rel="stylesheet" href="{% static 'app/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Image Compressor</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white d-flex masthead" style="background-image: url('{% static 'app/assets/img/header.jpg' %}');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>IMAGE COMPRESSOR</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">A good image compressor is like a magician who can shrink the size of an image without compromising its visual enchantment, casting a spell of efficiency and elegance.</p><a class="btn btn-primary btn-xl" role="button" href="/home">GET STARTED</a>
            </div>
        </div>
    </header>
    <section id="about" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col offset-lg-8 text-center mx-auto">
                    <h2 class="text-white section-heading">About</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">"A remarkable image compressor achieves the extraordinary, seamlessly squeezing images with an efficiency of 99%, transforming the realm of digital imagery into a world of optimal size and uncompromised visual excellence."</p><a class="btn btn-light btn-xl" role="button" href="/home">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Feature</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="fa fa-diamond fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
                        <h3 class="mb-3">High Compression Ratio<br></h3>
                        <p class="text-muted mb-0">A good image compressor boasts a high compression ratio, significantly reducing the file size of images without sacrificing their quality, allowing for efficient storage and faster transmission</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="fa fa-paper-plane fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                        <h3 class="mb-3">Lossless Compression Option<br></h3>
                        <p class="text-muted mb-0">A valuable feature of a good image compressor is the ability to perform lossless compression, preserving every pixel of the original image while still achieving a considerable reduction in file size, ensuring optimal image integrity for critical applications</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="fa fa-newspaper-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                        <h3 class="mb-3">Batch Processing Capability<br></h3>
                        <p class="text-muted mb-0">An excellent image compressor offers the convenience of batch processing, allowing users to compress multiple images simultaneously, saving time and effort by streamlining the compression process and enhancing overall productivity</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="fa fa-heart fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
                        <h3 class="mb-3">Made with Love</h3>
                        <p class="text-muted mb-0">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="p-0">
        <div class="container-fluid p-0">
            <div class="row g-0 popup-gallery">
                <div class="col-sm-6 col-lg-4">
                    <a class="portfolio-box" href="{% static 'app/assets/img/fullsize/1.jpg' %}">
                        <img class="img-fluid" src="{% static 'app/assets/img/thumbnails/1.jpg' %}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>Project Name</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a class="portfolio-box" href="{% static 'app/assets/img/fullsize/2.jpg' %}">
                        <img class="img-fluid" src="{% static 'app/assets/img/thumbnails/2.jpg' %}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>Project Name</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a class="portfolio-box" href="{% static 'app/assets/img/fullsize/3.jpg' %}">
                        <img class="img-fluid" src="{% static 'app/assets/img/thumbnails/3.jpg'%}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>Project Name</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a class="portfolio-box" href="{% static 'app/assets/img/fullsize/4.jpg' %}'">
                        <img class="img-fluid" src="{% static 'app/assets/img/thumbnails/4.jpg' %}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>Project Name</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a class="portfolio-box" href="{% static 'app/assets/img/fullsize/5.jpg' %}">
                        <img class="img-fluid" src="{% static 'app/assets/img/thumbnails/5.jpg' %}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>Project Name</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a class="portfolio-box" href="{% static 'app/assets/img/fullsize/6.jpg' %}">
                        <img class="img-fluid" src="{% static 'app/assets/img/thumbnails/6.jpg' %}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>Project Name</span></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-primary">
        <div class="container">
            <div class="row">
                   

                    <div class="col-sm-12 col-md-4">
                        <h2 class="text-white section-heading">Team members</h2>
                        <hr class="light my-4">
                        <p class="text-faded mb-4">
                            Name: Ighodaro Uyi
                        </p>

                        <p class="text-faded mb-4">
                            Github: <a class="btn btn-link" href="https://github.com/uyibis"><span style="color:white">view profile</span></a>
                        </p>
                        <p class="text-faded mb-4">
                            Linkedin: <a class="btn btn-link" href="https://www.linkedin.com/in/ighodaro-uyioghosa-b9352b138/"><span style="color:white">view profile</span></a>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <h2 class="text-white section-heading">Inspiration</h2>
                        <p class="text-faded mb-4">
                            The development of an image compression web service holds the power to revolutionize the way we share and experience visual content, inspiring us to break barriers of data limitations and connect the world with seamless efficiency. By enabling faster image transmission, reduced bandwidth usage, and enhanced storage optimization, it empowers creativity, fuels innovation, and unlocks endless possibilities for communication, art, and human connection in the digital age.
                        </p>
                    </div>

               
            </div>
        </div>
    </section>
    <section class="text-white bg-dark">
        <div class="container text-center">
            <h2 class="mb-4">Great?</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fB-S7OrFGZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>
                <a class="btn btn-light btn-xl sr-button" role="button" data-aos="zoom-in" data-aos-duration="400" data-aos-once="true" href="/home">GET STARTED</a>
            </p>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center mx-auto">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center ms-auto">
                    <i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                    <p>070-140-234-37</p>
                </div>
                <div class="col-lg-4 text-center me-auto">
                    <i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                    <p><a href="mailto:your-email@your-domain.com">info@imgc.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'app/assets/js/bs-init.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{% static 'app/assets/js/creative.js'%}"></script>
</body>

</html>