{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Image Compressor</h1>
    <p class="lead">A good image compressor is like a magician who can shrink the size of an image without compromising its visual enchantment, casting a spell of efficiency and elegance.</p>
    
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <input style="height:4em; width:100%"  type="file" name="myfile">
    <button type="submit">Upload</button>
</form>

  {% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

<div class="row">
   
</div>

{% endblock %}
